
<header th:fragment="header-main"
        class="container-fluid text-center text-dark">


  <h1 class="p-2">Document Management System</h1>
  <nav class="m-3 p-2">
    <a class="btn btn-success" href="/create-administrator" th:text="#{button.admin}"></a>
    <a class="btn btn-success" href="/create-process" th:text="#{button.process}"></a>
    <a class="btn btn-success" href="/view-processes/all" th:text="#{button.list}"></a>
  </nav>
</header>

<header th:fragment="header-administrator"
           class="container-fluid text-center text-dark">

  <h1 class="p-2">Document Management System</h1>
  <nav class="m-3 p-2">
    <a class="btn btn-success" href="/">Home</a>
    <a class="btn btn-success" href="/create-process" th:text="#{button.process}"></a>
    <a class="btn btn-success" href="/view-processes/all">View process list</a>
  </nav>
</header>

<header th:fragment="process"
        class="container-fluid text-center text-dark">

  <h1 class="p-2">Document Management System</h1>
  <nav class="m-3 p-2">
    <a class="btn btn-success" href="/">Home</a>
    <a class="btn btn-success" href="/create-administrator">Create administrator</a>
    <a class="btn btn-success" href="/create-process">Create new process</a>

  </nav>
</header>
<header th:fragment="create-process"
        class="container-fluid text-center text-dark">

  <h1 class="p-2">Document Management System</h1>
  <nav class="m-3 p-2">
    <a class="btn btn-success" href="/">Home</a>
    <a class="btn btn-success" href="/create-administrator">Create administrator</a>
    <a class="btn btn-success" href="/view-processes/all">View process list</a>

  </nav>
</header>

<header th:fragment="header-process-documents"
        class="container-fluid text-center text-dark">

  <h1 class="p-2">Document Management system</h1>
  <nav class="m-3 p-2">
    <a class="btn btn-success" href="/">Home</a>
    <a class="btn btn-success" href="/view-processes/all">View process list</a>
  </nav>
</header>