<section th:fragment="section-caseList" class="container">
    <br>
    <br>
    <h3 th:text="#{proc.list.header}"></h3>
    <br>
    <br>
    <table class="table table-bordered text-center">
        <thead class="table-header-dark">
        <tr>
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=id&sortDir=' + ${reverseSortDirection}}">ID</a>
            </th>
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=companyName&sortDir=' + ${reverseSortDirection}}" th:text="#{proc.company}"></a>
            </th>
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=registrationNumber&sortDir=' + ${reverseSortDirection}}" th:text="#{proc.reg.nr.table}"></a>
            </th>
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=courtName&sortDir=' + ${reverseSortDirection}}" th:text="#{proc.court}"></a>
            </th>
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=courtCaseNumber&sortDir=' + ${reverseSortDirection}}" th:text="#{proc.case.nr}"></a>
            </th>
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=caseClosingDate&sortDir=' + ${reverseSortDirection}}" th:text="#{proc.status}"></a>
            </th>
            <th th:text="#{button.open}"></th>
            <th th:text="#{button.edit}"></th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="process: ${processList}">
            <tr>
                <td class="fw-bold"> [[${process.id}]]</td>
                <td class="fw-bold" th:text="${process.getCompanyName()}"></td>
                <td class="details" th:text="${process.getRegistrationNumber()}"></td>
                <td class="details" th:text="${process.getCourtName()}"></td>
                <td class="details" th:text="${process.getCourtCaseNumber()}"></td>
                <td class="details"
                    th:text="${process.getCaseClosingDate()!= null} ? #{proc.status.compl} + ' ' +  ${process.getCaseClosingDate()} : #{proc.status.act}"></span>

                </td>

                <td>
                    <a th:href="${'/process-documents/' + process.getId()}" class="btn btn-success" role="button"
                       type="submit" th:text="#{button.open}"> </a>
                </td>
                <td>
                    <a th:href="${'/edit-process/' + process.getId()}" class="btn btn-dark" role="button" type="submit" th:text="#{button.edit}"> </a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>

    <section>
        <div th:if="${totalPages>1}">
            <div class=" row col-sm-10">
                <div class="col-sm-2">
                    Total Rows: [[${totalItems}]]
                </div>
                <div class="col-sm-1">
                    <span th:each="i : ${#numbers.sequence(1,totalPages)}">
                         <a th:if="${currentPage!=i}"
                            th:href="@{'/page/' + ${i} +'?sortField=' + ${sortField} +'&sortDir=' + ${sortDir}}">[[${i}]]</a>
                        <span th:unless="${currentPage!=i}">[[${i}]]</span>
                    </span>
                </div>
                <div class="col-sm-1">
                    <a th:if="${currentPage<totalPages}"
                       th:href="@{'/page/'+ ${currentPage+1} + '?sortField=' + ${sortField} +'&sortDir=' + ${sortDir}}">Next</a>
                    <span th:unless="${currentPage<totalPages}">Next</span>
                </div>
                <div class="col-sm-1">
                    <a th:if="${currentPage<totalPages}"
                       th:href="@{'/page/'+ ${totalPages} + '?sortField=' + ${sortField} +'&sortDir=' + ${sortDir}}">Last</a>
                    <span th:unless="${currentPage<totalPages}">Last</span>
                </div>
            </div>

        </div>
    </section>
</section>

<!------------------------------------------------------------------------>


<section th:fragment="section-editAdmin" class="container">
    <br>
    <br>
    <h3 th:text="#{admin.header2}"></h3>
    <br>
    <br>
    <table class="table table-bordered text-center">
        <thead class="table-header-dark">
        <tr>
            <th> Id </th>
            <th th:text="#{admin.cert}"></th>
            <th th:text="#{admin.name}"></th>
            <th th:text="#{admin.surname}"></th>
            <th th:text="#{admin.address}"></th>
            <th th:text="#{admin.mail}"></th>
            <th th:text="#{admin.eaddress}"></th>
            <th th:text="#{admin.phone}"></th>
            <th th:text="#{admin.place}"></th>
            <th th:text="#{button.edit}"></th>
            <th th:text="#{button.delete}"></th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="admin: ${adminList}">
            <tr>
                <td class="fw-bold" th:text="${admin.getAdminId()}"></td>
                <td class="details" th:text="${admin.getCertificateNumber()}"></td>
                <td class="fw-bold" th:text="${admin.getAdminName()}"></td>
                <td class="fw-bold" th:text="${admin.getAdminSurname()}"></td>
                <td class="details" th:text="${admin.getAdminAddress()}"></td>
                <td class="details" th:text="${admin.getAdminEmail()}"></td>
                <td class="details" th:text="${admin.getAdminE_address()}"></td>
                <td class="details" th:text="${admin.getAdminPhoneNumber()}"></td>
                <td class="details" th:text="${admin.getPlace()}"></td>
                <td class="details" th:text="${admin.getAdminGender()}"></td>

           <td class="mt-2">
                    <a th:href="${'/edit-administrator/' + admin.getAdminId()}" class="btn btn-dark text-white p-3"
                       role="button" type="submit" th:text="#{button.edit}"></a>
                </td>
                <td class="mt-2">
                    <a th:href="${'/delete-administrator/' + admin.getAdminId()}" class="btn btn-warning text-white p-3"
                       role="button" th:text="#{button.delete}"></a>

            </tr>
        </th:block>
        </tbody>
    </table>
</section>
