<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create New Process Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body>
<header class="border border-success m-5 text-center text-green p-3">
    <h2>DOCUMENT MANAGEMENT SYSTEM</h2>

</header>
<main class="border border-success m-5 card-body row p-5">

    <section class="container">
        <form class="form-inline" id="creatProcessForm" action="/create-process" method="post">
            <fieldset>
                <legend >New Process registration form</legend>
                <div class="form-group mx-sm-3 mb-2" >
                    <label>Insolvency Company Registration Number:</label>
                    <input type="text" placeholder="registration Number" name="registrationNumber">
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <label>Insolvency Company Name: </label>
                    <input type="text" placeholder="company name" name="companyName">
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <label>Insolvency Company Address:</label>
                    <input type="text" placeholder="address" name="companyAddress">
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <label>Court Case number:</label>
                    <input type="text" placeholder="case number" name="courtCaseNumber">
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <label>Insolvency Company e-address:</label>
                    <label>
                        <input type="text" placeholder="e-address" name="e-address">
                    </label>
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <label>Court Decision Date:</label>
                    <input type="date" placeholder="date" name="courtDecisionDate">
                </div>
                <br>
                <a class="btn btn-outline-success me-2 p-2" type="submit" href="/create-process">SAVE PROCESS</a>
            </fieldset>
        </form>
    </section>

</main>

</body>
</html>