<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body>

<header class="border border-success m-5 text-center text-green p-3">
    <h2>DOCUMENT MANAGEMENT SYSTEM</h2>
    <nav class="container-fluid bg-light-green text-white  d-md-flex justify-content-between">
        <a class="btn btn-outline-success me-2" type="button" href="/create-process"> Create New Process</a>
        <a class="btn btn-outline-success me-2" type="button" href="/view-processes"> View Current Processes</a>
        <a class="btn btn-outline-success me-2" type="button" href="/create-document"> Process Document Page </a>
    </nav>

</header>
<main class="border border-success m-5">
    <section class="first-section p-3">
        <h3> Introduction</h3>
        <div>
            In Latvia in company bankruptcy process the system is organize that: there is self-employed persons
            insolvency process
            administrators, who is supervised by state institution - Insolvency Control Service Republic of Latvia.
            Insolvency Control Service is created EMUS -
            electronic insolvency supervision system. EMUS system aim is to supervise all administrators and all
            administrators are obligated to insert data about every
            process in this system. System is not a help tool for administrators, but only instrument for the state
            institution for the supervision. The TASK for our project
            is to create a program as a tool for helping insolvency administrators to create necessary documents in
            bankruptcy process – Document Management System
            (DMS).
        </div>
    </section>
    <section class="second-section p-3">
        <h3> User guide</h3>
        <div>
            DMS will help:
            <p> -to administrate documents easier</p>
            <p> -to open new processes </p>
            <p> -to administrate cases easier</p>
            <p> -to administrate cases easier</p>
            <p> -to administrate cases easier</p>


        </div>
    </section>

</main>

</body>
</html>