<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Document Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet"  href="styles/header.css">
</head>
<body>


<header th:replace="~{fragments/headers.html::header-process-documents}"
        class="container-fluid text-center bg-success text-white"></header>
<main >

      <section class="border border-success m-5 text-left text-dark mt-2 mb-2 p-5">
        <h4> Company's profile:</h4>
        <h4 class="company-name text-danger"th:text="${process.getCompanyName() +', reg. nr. ' + process.getRegistrationNumber() + ', ' + process.getCompanyAddress() }"></h4>

    </section>
    <section class="border border-success m-5 text-left text-black mt-2 mb-2 p-5">

        <h3> Push the button of the document you want to create:</h3>
        <div class="container mt-2 mb-2">

                <a th:href="@{|/download-blank|}">
                <button type="button" class="btn btn-outline-success mt-2 mb-2">Izveidot Administratora veidlapu (Create Admin Blank)</button>
            </a>
                <a th:href="${'/download-company-blank/' + process.getId()}">
                    <button type="button" class="btn btn-outline-success mt-2 mb-2">Izveidot maksātnespējīgās sabiedrības  veidlapu (Create Company Blank)</button>
            </a>

        </div>
    </section>
    <section class="border border-success m-5 text-left text-black p-5">
        <h3> Create request to public authorities - press button:</h3>
        <div  >
            <a th:href="${'/download-authority-blank/' + process.getId()+'/1'}">
            <button type="button" class="btn btn-outline-success mt-2 mb-2">Uzņēmumu reģistrs (Company Register)</button> </a>
            <a th:href="${'/download-authority-blank/' + process.getId()+'/2'}">
                <button type="button" class="btn btn-outline-success mt-2 mb-2">Kuģu reģistrs (Ship)</button></a>
                <a th:href="${'/download-authority-blank/' + process.getId()+'/3'}">
                    <button type="button" class="btn btn-outline-success mt-2 mb-2">Lauksaimniecības datu centrs (Agric)</button></a>
                    <a th:href="${'/download-authority-blank/' + process.getId()+'/4'}">
                        <button type="button" class="btn btn-outline-success mt-2 mb-2">Tehniskās uzraudzības aģentūra (State tech)</button></a>
            <a th:href="${'/download-authority-blank/' + process.getId()+'/5'}">
                <button type="button" class="btn btn-outline-success mt-2 mb-2">Valsts zemes dienests (Land)</button></a>
                <a th:href="${'/download-authority-blank/' + process.getId()+'/6'}">
                    <button type="button" class="btn btn-outline-success mt-2 mb-2">Zvērināti tiesu izpildītāji (Bailiff)</button></a>
            <a th:href="${'/download-tables/' + process.getId()}">
                <button type="button" class="btn btn-outline-success mt-2 mb-2"> Costs of insolvency proceedings </button>
            </a>


        </div>
    </section>
    <section class="border border-success m-5 text-left text-black p-5">
        <h3 id = "listHeader"> Document list to upload:</h3>
        <div class="container col-xs-3">
            <p th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>
                <form method="post" th:action="${'/process-documents/' + process.getId() + '/documents/' + 1}" enctype="multipart/form-data">
                    <label class="form-label">1. Upload Assets List ('Mantas saraksts')</label>
                        <input type="file" name="file" class="form-control-file" accept=".xlsx, .xls, .csv">
                    <button type="submit" class="btn btn-default">Upload File</button>

                </form>

            <form method="post" th:action="${'/process-documents/' + process.getId() + '/documents/' + 2}" enctype="multipart/form-data">
                <label class="form-label">2. Upload Costs ('Iegūtie naudas līdzekļi')</label>
                <input type="file" name="file" class="form-control-file" accept=".xlsx, .xls, .csv">
                <button type="submit" class="btn btn-default">Upload File</button>

            </form>

            <form method="post" th:action="${'/process-documents/' + process.getId() + '/documents/' + 3}" enctype="multipart/form-data">
                <label class="form-label">3. Upload Cash flow ('Naudas plūsma')</label>
                <input type="file" name="file" class="form-control-file" accept=".xlsx, .xls, .csv">

                <button type="submit" class="btn btn-default">Upload File</button>

            </form>

            <form method="post" th:action="${'/process-documents/' + process.getId() + '/documents/' + 4}" enctype="multipart/form-data">
                <label class="form-label">4. Upload Expenses ('Izmaksas')</label>
                <input type="file" name="file" class="form-control-file" accept=".xlsx, .xls, .csv">

                <button type="submit" class="btn btn-default">Upload File</button>

            </form>

            <form method="post" th:action="${'/process-documents/' + process.getId() + '/documents/' + 5}" enctype="multipart/form-data">
                <label class="form-label">5. Upload Creditors ('Kreditoru prasījumu saraksts')</label>
                <input type="file" name="file" class="form-control-file" accept=".xlsx, .xls, .csv">
                <button type="submit" class="btn btn-default">Upload File</button>
            </form>



            <!--       https://getbootstrap.com/docs/5.3/forms/input-group/
            Custom file input-->
        </div>
    </section>
</main>
<footer th:replace="~{fragments/footer.html::footer}"></footer>

</body>
</html>